extends ../main.pug

append config
	- title	= 'Title'
	- desc	= 'Description'

block content
	section.section.surf
		.container
			.section__headline
				h2.title Surf
				span.section__headline-overlay Surf
			.section__subtitle.section__subtitle_right
				.subtitle Current location
				.subtitle__text California #[span |] USA
			.slider-map
				.slider-dots.slider-dots_1
					.slider-dots__circle
					.slider-dots__content
						.slider-dots__content-row
							.slider-dots__content-head
								.slider-dots__content-title Airlie Beach
								.slider-dots__content-subtitle Australia
							a.slider-dots__content-link(href="#"): +icon('arrow-right', 'arrow')
						.slider-dots__content-row
							.slider-dots__content-item
								+icon('wave', 'slider-dots__content-icon')
								.slider-dots__content-number 9 - 13
								.slider-dots__content-name Surf (FT)
							.slider-dots__content-item
								+icon('water', 'slider-dots__content-icon')
								.slider-dots__content-number +2.3
								.slider-dots__content-name Tide (FT)
							.slider-dots__content-item
								+icon('wind', 'slider-dots__content-icon')
								.slider-dots__content-number 4 SE
								.slider-dots__content-name Wind (KTS)
				.slider-dots.slider-dots_2
					.slider-dots__circle
					.slider-dots__content
						.slider-dots__content-row
							.slider-dots__content-head
								.slider-dots__content-title Airlie Beach
								.slider-dots__content-subtitle Australia
							a.slider-dots__content-link(href="#"): +icon('arrow-right', 'arrow')
						.slider-dots__content-row
							.slider-dots__content-item
								+icon('wave', 'slider-dots__content-icon')
								.slider-dots__content-number 9 - 13
								.slider-dots__content-name Surf (FT)
							.slider-dots__content-item
								+icon('water', 'slider-dots__content-icon')
								.slider-dots__content-number +2.3
								.slider-dots__content-name Tide (FT)
							.slider-dots__content-item
								+icon('wind', 'slider-dots__content-icon')
								.slider-dots__content-number 4 SE
								.slider-dots__content-name Wind (KTS)
				.slider-dots.slider-dots_3
					.slider-dots__circle
					.slider-dots__content
						.slider-dots__content-row
							.slider-dots__content-head
								.slider-dots__content-title Airlie Beach
								.slider-dots__content-subtitle Australia
							a.slider-dots__content-link(href="#"): +icon('arrow-right', 'arrow')
						.slider-dots__content-row
							.slider-dots__content-item
								+icon('wave', 'slider-dots__content-icon')
								.slider-dots__content-number 9 - 13
								.slider-dots__content-name Surf (FT)
							.slider-dots__content-item
								+icon('water', 'slider-dots__content-icon')
								.slider-dots__content-number +2.3
								.slider-dots__content-name Tide (FT)
							.slider-dots__content-item
								+icon('wind', 'slider-dots__content-icon')
								.slider-dots__content-number 4 SE
								.slider-dots__content-name Wind (KTS)
				.slider-dots.slider-dots_4
					.slider-dots__circle
					.slider-dots__content
						.slider-dots__content-row
							.slider-dots__content-head
								.slider-dots__content-title Airlie Beach
								.slider-dots__content-subtitle Australia
							a.slider-dots__content-link(href="#"): +icon('arrow-right', 'arrow')
						.slider-dots__content-row
							.slider-dots__content-item
								+icon('wave', 'slider-dots__content-icon')
								.slider-dots__content-number 9 - 13
								.slider-dots__content-name Surf (FT)
							.slider-dots__content-item
								+icon('water', 'slider-dots__content-icon')
								.slider-dots__content-number +2.3
								.slider-dots__content-name Tide (FT)
							.slider-dots__content-item
								+icon('wind', 'slider-dots__content-icon')
								.slider-dots__content-number 4 SE
								.slider-dots__content-name Wind (KTS)
				.slider-dots.slider-dots_5
					.slider-dots__circle
					.slider-dots__content
						.slider-dots__content-row
							.slider-dots__content-head
								.slider-dots__content-title Airlie Beach
								.slider-dots__content-subtitle Australia
							a.slider-dots__content-link(href="#"): +icon('arrow-right', 'arrow')
						.slider-dots__content-row
							.slider-dots__content-item
								+icon('wave', 'slider-dots__content-icon')
								.slider-dots__content-number 9 - 13
								.slider-dots__content-name Surf (FT)
							.slider-dots__content-item
								+icon('water', 'slider-dots__content-icon')
								.slider-dots__content-number +2.3
								.slider-dots__content-name Tide (FT)
							.slider-dots__content-item
								+icon('wind', 'slider-dots__content-icon')
								.slider-dots__content-number 4 SE
								.slider-dots__content-name Wind (KTS)
				.slider-dots.slider-dots_6
					.slider-dots__circle
					.slider-dots__content
						.slider-dots__content-row
							.slider-dots__content-head
								.slider-dots__content-title Airlie Beach
								.slider-dots__content-subtitle Australia
							a.slider-dots__content-link(href="#"): +icon('arrow-right', 'arrow')
						.slider-dots__content-row
							.slider-dots__content-item
								+icon('wave', 'slider-dots__content-icon')
								.slider-dots__content-number 9 - 13
								.slider-dots__content-name Surf (FT)
							.slider-dots__content-item
								+icon('water', 'slider-dots__content-icon')
								.slider-dots__content-number +2.3
								.slider-dots__content-name Tide (FT)
							.slider-dots__content-item
								+icon('wind', 'slider-dots__content-icon')
								.slider-dots__content-number 4 SE
								.slider-dots__content-name Wind (KTS)
				.slider-dots.slider-dots_7
					.slider-dots__circle
					.slider-dots__content
						.slider-dots__content-row
							.slider-dots__content-head
								.slider-dots__content-title Airlie Beach
								.slider-dots__content-subtitle Australia
							a.slider-dots__content-link(href="#"): +icon('arrow-right', 'arrow')
						.slider-dots__content-row
							.slider-dots__content-item
								+icon('wave', 'slider-dots__content-icon')
								.slider-dots__content-number 9 - 13
								.slider-dots__content-name Surf (FT)
							.slider-dots__content-item
								+icon('water', 'slider-dots__content-icon')
								.slider-dots__content-number +2.3
								.slider-dots__content-name Tide (FT)
							.slider-dots__content-item
								+icon('wind', 'slider-dots__content-icon')
								.slider-dots__content-number 4 SE
								.slider-dots__content-name Wind (KTS)
				.slider-dots.slider-dots_8
					.slider-dots__circle
					.slider-dots__content
						.slider-dots__content-row
							.slider-dots__content-head
								.slider-dots__content-title Airlie Beach
								.slider-dots__content-subtitle Australia
							a.slider-dots__content-link(href="#"): +icon('arrow-right', 'arrow')
						.slider-dots__content-row
							.slider-dots__content-item
								+icon('wave', 'slider-dots__content-icon')
								.slider-dots__content-number 9 - 13
								.slider-dots__content-name Surf (FT)
							.slider-dots__content-item
								+icon('water', 'slider-dots__content-icon')
								.slider-dots__content-number +2.3
								.slider-dots__content-name Tide (FT)
							.slider-dots__content-item
								+icon('wind', 'slider-dots__content-icon')
								.slider-dots__content-number 4 SE
								.slider-dots__content-name Wind (KTS)
			.surf-slider
				.surf-box(style="background-image: url('img/surf_slider/01.jpg');")
					.surf-box__inner
						.surf-box__inner-title Malibu Beach
						.surf-box__inner-location California #[span |] USA
						.surf-box__inner-btn
							a.btn(href="#") View #[span Surf]
				.surf-box(style="background-image: url('img/surf_slider/02.jpg');")
					.surf-box__inner
						.surf-box__inner-title Airlie Beach
						.surf-box__inner-location Queensland #[span |] Australia
						.surf-box__inner-btn
							a.btn(href="#") View #[span Surf]
				.surf-box(style="background-image: url('img/surf_slider/03.jpg');")
					.surf-box__inner
						.surf-box__inner-title Cloud Nine
						.surf-box__inner-location Siargao #[span |] Philippines
						.surf-box__inner-btn
							a.btn(href="#") View #[span Surf]
				.surf-box(style="background-image: url('img/surf_slider/04.jpg');")
					.surf-box__inner
						.surf-box__inner-title Vieux Boucau
						.surf-box__inner-location Hossegor #[span |] France
						.surf-box__inner-btn
							a.btn(href="#") View #[span Surf]
				.surf-box(style="background-image: url('img/surf_slider/01.jpg');")
					.surf-box__inner
						.surf-box__inner-title Malibu Beach
						.surf-box__inner-location California #[span |] USA
						.surf-box__inner-btn
							a.btn(href="#") View #[span Surf]
				.surf-box(style="background-image: url('img/surf_slider/02.jpg');")
					.surf-box__inner
						.surf-box__inner-title Airlie Beach
						.surf-box__inner-location Queensland #[span |] Australia
						.surf-box__inner-btn
							a.btn(href="#") View #[span Surf]
				.surf-box(style="background-image: url('img/surf_slider/03.jpg');")
					.surf-box__inner
						.surf-box__inner-title Cloud Nine
						.surf-box__inner-location Siargao #[span |] Philippines
						.surf-box__inner-btn
							a.btn(href="#") View #[span Surf]
				.surf-box(style="background-image: url('img/surf_slider/04.jpg');")
					.surf-box__inner
						.surf-box__inner-title Vieux Boucau
						.surf-box__inner-location Hossegor #[span |] France
						.surf-box__inner-btn
							a.btn(href="#") View #[span Surf]
	section.section.travel
		.container
			.section__headline
				h2.title Travel
				span.section__headline-overlay Travel
	section.section.sleep
		.container
			.section__headline
				h2.title Sleep
				span.section__headline-overlay Sleep
	section.section.shop
		.container
			.section__headline
				h2.title Shop
				span.section__headline-overlay Shop