extends ../main.pug

append config
	- title	= 'Title'
	- desc	= 'Description'

block content
	section.section.surf
		.container
			.section__headline
				h2.title Surf
				span.section__headline-overlay Surf
			.section__subtitle.section__subtitle_right
				.subtitle Current location
				.subtitle__text California #[span |] USA
			.slider-map
				.slider-dots.slider-dots_1
					.slider-dots__circle
					.slider-dots__content
						.slider-dots__content-row
							.slider-dots__content-head
								.slider-dots__content-title Airlie Beach
								.slider-dots__content-subtitle Australia
							a.slider-dots__content-link(href="#"): +icon('arrow-right', 'arrow')
						.slider-dots__content-row
							.slider-dots__content-item
								+icon('wave', 'slider-dots__content-icon slider-dots__content-icon_wave')
								.slider-dots__content-number 9 - 13
								.slider-dots__content-name Surf (FT)
							.slider-dots__content-item
								+icon('water', 'slider-dots__content-icon slider-dots__content-icon_water')
								.slider-dots__content-number +2.3
								.slider-dots__content-name Tide (FT)
							.slider-dots__content-item
								+icon('wind', 'slider-dots__content-icon slider-dots__content-icon_wind')
								.slider-dots__content-number 4 SE
								.slider-dots__content-name Wind (KTS)
				.slider-dots.slider-dots_2
					.slider-dots__circle
					.slider-dots__content
						.slider-dots__content-row
							.slider-dots__content-head
								.slider-dots__content-title Airlie Beach
								.slider-dots__content-subtitle Australia
							a.slider-dots__content-link(href="#"): +icon('arrow-right', 'arrow')
						.slider-dots__content-row
							.slider-dots__content-item
								+icon('wave', 'slider-dots__content-icon slider-dots__content-icon_wave')
								.slider-dots__content-number 9 - 13
								.slider-dots__content-name Surf (FT)
							.slider-dots__content-item
								+icon('water', 'slider-dots__content-icon slider-dots__content-icon_water')
								.slider-dots__content-number +2.3
								.slider-dots__content-name Tide (FT)
							.slider-dots__content-item
								+icon('wind', 'slider-dots__content-icon slider-dots__content-icon_wind')
								.slider-dots__content-number 4 SE
								.slider-dots__content-name Wind (KTS)
				.slider-dots.slider-dots_3
					.slider-dots__circle
					.slider-dots__content
						.slider-dots__content-row
							.slider-dots__content-head
								.slider-dots__content-title Airlie Beach
								.slider-dots__content-subtitle Australia
							a.slider-dots__content-link(href="#"): +icon('arrow-right', 'arrow')
						.slider-dots__content-row
							.slider-dots__content-item
								+icon('wave', 'slider-dots__content-icon slider-dots__content-icon_wave')
								.slider-dots__content-number 9 - 13
								.slider-dots__content-name Surf (FT)
							.slider-dots__content-item
								+icon('water', 'slider-dots__content-icon slider-dots__content-icon_water')
								.slider-dots__content-number +2.3
								.slider-dots__content-name Tide (FT)
							.slider-dots__content-item
								+icon('wind', 'slider-dots__content-icon slider-dots__content-icon_wind')
								.slider-dots__content-number 4 SE
								.slider-dots__content-name Wind (KTS)
				.slider-dots.slider-dots_4
					.slider-dots__circle
					.slider-dots__content
						.slider-dots__content-row
							.slider-dots__content-head
								.slider-dots__content-title Airlie Beach
								.slider-dots__content-subtitle Australia
							a.slider-dots__content-link(href="#"): +icon('arrow-right', 'arrow')
						.slider-dots__content-row
							.slider-dots__content-item
								+icon('wave', 'slider-dots__content-icon slider-dots__content-icon_wave')
								.slider-dots__content-number 9 - 13
								.slider-dots__content-name Surf (FT)
							.slider-dots__content-item
								+icon('water', 'slider-dots__content-icon slider-dots__content-icon_water')
								.slider-dots__content-number +2.3
								.slider-dots__content-name Tide (FT)
							.slider-dots__content-item
								+icon('wind', 'slider-dots__content-icon slider-dots__content-icon_wind')
								.slider-dots__content-number 4 SE
								.slider-dots__content-name Wind (KTS)
				.slider-dots.slider-dots_5
					.slider-dots__circle
					.slider-dots__content
						.slider-dots__content-row
							.slider-dots__content-head
								.slider-dots__content-title Airlie Beach
								.slider-dots__content-subtitle Australia
							a.slider-dots__content-link(href="#"): +icon('arrow-right', 'arrow')
						.slider-dots__content-row
							.slider-dots__content-item
								+icon('wave', 'slider-dots__content-icon slider-dots__content-icon_wave')
								.slider-dots__content-number 9 - 13
								.slider-dots__content-name Surf (FT)
							.slider-dots__content-item
								+icon('water', 'slider-dots__content-icon slider-dots__content-icon_water')
								.slider-dots__content-number +2.3
								.slider-dots__content-name Tide (FT)
							.slider-dots__content-item
								+icon('wind', 'slider-dots__content-icon slider-dots__content-icon_wind')
								.slider-dots__content-number 4 SE
								.slider-dots__content-name Wind (KTS)
				.slider-dots.slider-dots_6
					.slider-dots__circle
					.slider-dots__content
						.slider-dots__content-row
							.slider-dots__content-head
								.slider-dots__content-title Airlie Beach
								.slider-dots__content-subtitle Australia
							a.slider-dots__content-link(href="#"): +icon('arrow-right', 'arrow')
						.slider-dots__content-row
							.slider-dots__content-item
								+icon('wave', 'slider-dots__content-icon slider-dots__content-icon_wave')
								.slider-dots__content-number 9 - 13
								.slider-dots__content-name Surf (FT)
							.slider-dots__content-item
								+icon('water', 'slider-dots__content-icon slider-dots__content-icon_water')
								.slider-dots__content-number +2.3
								.slider-dots__content-name Tide (FT)
							.slider-dots__content-item
								+icon('wind', 'slider-dots__content-icon slider-dots__content-icon_wind')
								.slider-dots__content-number 4 SE
								.slider-dots__content-name Wind (KTS)
				.slider-dots.slider-dots_7
					.slider-dots__circle
					.slider-dots__content
						.slider-dots__content-row
							.slider-dots__content-head
								.slider-dots__content-title Airlie Beach
								.slider-dots__content-subtitle Australia
							a.slider-dots__content-link(href="#"): +icon('arrow-right', 'arrow')
						.slider-dots__content-row
							.slider-dots__content-item
								+icon('wave', 'slider-dots__content-icon slider-dots__content-icon_wave')
								.slider-dots__content-number 9 - 13
								.slider-dots__content-name Surf (FT)
							.slider-dots__content-item
								+icon('water', 'slider-dots__content-icon slider-dots__content-icon_water')
								.slider-dots__content-number +2.3
								.slider-dots__content-name Tide (FT)
							.slider-dots__content-item
								+icon('wind', 'slider-dots__content-icon slider-dots__content-icon_wind')
								.slider-dots__content-number 4 SE
								.slider-dots__content-name Wind (KTS)
				.slider-dots.slider-dots_8
					.slider-dots__circle
					.slider-dots__content
						.slider-dots__content-row
							.slider-dots__content-head
								.slider-dots__content-title Airlie Beach
								.slider-dots__content-subtitle Australia
							a.slider-dots__content-link(href="#"): +icon('arrow-right', 'arrow')
						.slider-dots__content-row
							.slider-dots__content-item
								+icon('wave', 'slider-dots__content-icon slider-dots__content-icon_wave')
								.slider-dots__content-number 9 - 13
								.slider-dots__content-name Surf (FT)
							.slider-dots__content-item
								+icon('water', 'slider-dots__content-icon slider-dots__content-icon_water')
								.slider-dots__content-number +2.3
								.slider-dots__content-name Tide (FT)
							.slider-dots__content-item
								+icon('wind', 'slider-dots__content-icon slider-dots__content-icon_wind')
								.slider-dots__content-number 4 SE
								.slider-dots__content-name Wind (KTS)
			.surf-slider
				.surf-box(style="background-image: url('img/surf_slider/01.jpg');")
					.surf-box__inner
						.surf-box__inner-title Malibu Beach
						.surf-box__inner-location California #[span |] USA
						.surf-box__inner-btn
							a.btn(href="#") View #[span Surf]
				.surf-box(style="background-image: url('img/surf_slider/02.jpg');")
					.surf-box__inner
						.surf-box__inner-title Airlie Beach
						.surf-box__inner-location Queensland #[span |] Australia
						.surf-box__inner-btn
							a.btn(href="#") View #[span Surf]
				.surf-box(style="background-image: url('img/surf_slider/03.jpg');")
					.surf-box__inner
						.surf-box__inner-title Cloud Nine
						.surf-box__inner-location Siargao #[span |] Philippines
						.surf-box__inner-btn
							a.btn(href="#") View #[span Surf]
				.surf-box(style="background-image: url('img/surf_slider/04.jpg');")
					.surf-box__inner
						.surf-box__inner-title Vieux Boucau
						.surf-box__inner-location Hossegor #[span |] France
						.surf-box__inner-btn
							a.btn(href="#") View #[span Surf]
				.surf-box(style="background-image: url('img/surf_slider/01.jpg');")
					.surf-box__inner
						.surf-box__inner-title Malibu Beach
						.surf-box__inner-location California #[span |] USA
						.surf-box__inner-btn
							a.btn(href="#") View #[span Surf]
				.surf-box(style="background-image: url('img/surf_slider/02.jpg');")
					.surf-box__inner
						.surf-box__inner-title Airlie Beach
						.surf-box__inner-location Queensland #[span |] Australia
						.surf-box__inner-btn
							a.btn(href="#") View #[span Surf]
				.surf-box(style="background-image: url('img/surf_slider/03.jpg');")
					.surf-box__inner
						.surf-box__inner-title Cloud Nine
						.surf-box__inner-location Siargao #[span |] Philippines
						.surf-box__inner-btn
							a.btn(href="#") View #[span Surf]
				.surf-box(style="background-image: url('img/surf_slider/04.jpg');")
					.surf-box__inner
						.surf-box__inner-title Vieux Boucau
						.surf-box__inner-location Hossegor #[span |] France
						.surf-box__inner-btn
							a.btn(href="#") View #[span Surf]
	section.section.holder.travel
		.container
			.section__headline
				h2.title Travel
				span.section__headline-overlay Travel
			.slider-holder
				.slider-holder__item
					.slider-holder__head(style='background: url("img/travel_slider/01.png") no-repeat top left;')
						.section__subtitle.section__subtitle_right
							.subtitle Shore
							h3.subtitle__text Airlie Beach #[span |] Australia
					.slider-holder__descr(style='background: url("img/airplane.png") no-repeat right;')
						.descr
							.subtitle.subtitle_left Airline
							h4.subtitle__text Virgin Australia
								img(src="img/logo_virgin.svg", alt="virgin")
					.slider-holder__info
						.slider-holder__info-item
							.slider-holder__info-subtitle Destination
							.slider-holder__info-title Queensland#[br]Australia
						.slider-holder__info-item
							.slider-holder__info-subtitle Distance
							.slider-holder__info-title 7,065 Miles
						.slider-holder__info-item
							.slider-holder__info-subtitle Travel Time
							.slider-holder__info-title 23 Hours#[br]5 Minutes
						.slider-holder__info-item
							.slider-holder__info-subtitle Pricing
							.slider-holder__info-title $1,976 USD
								span Round Trip
					.slider-holder__btn
						a.btn(href="#") Book #[span Flight]
				.slider-holder__item
					.slider-holder__head(style='background: url("img/travel_slider/01.png") no-repeat top left;')
						.section__subtitle.section__subtitle_right
							.subtitle Shore
							h3.subtitle__text Airlie Beach #[span |] Australia
					.slider-holder__descr(style='background: url("img/airplane.png") no-repeat right;')
						.descr
							.subtitle.subtitle_left Airline
							h4.subtitle__text Virgin Australia
								img(src="img/logo_virgin.svg", alt="virgin")
					.slider-holder__info
						.slider-holder__info-item
							.slider-holder__info-subtitle Destination
							.slider-holder__info-title Queensland#[br]Australia
						.slider-holder__info-item
							.slider-holder__info-subtitle Distance
							.slider-holder__info-title 7,065 Miles
						.slider-holder__info-item
							.slider-holder__info-subtitle Travel Time
							.slider-holder__info-title 23 Hours#[br]5 Minutes
						.slider-holder__info-item
							.slider-holder__info-subtitle Pricing
							.slider-holder__info-title $1,976 USD
								span Round Trip
					.slider-holder__btn
						a.btn(href="#") Book #[span Flight]
				.slider-holder__item
					.slider-holder__head(style='background: url("img/travel_slider/01.png") no-repeat top left;')
						.section__subtitle.section__subtitle_right
							.subtitle Shore
							h3.subtitle__text Airlie Beach #[span |] Australia
					.slider-holder__descr(style='background: url("img/airplane.png") no-repeat right;')
						.descr
							.subtitle.subtitle_left Airline
							h4.subtitle__text Virgin Australia
								img(src="img/logo_virgin.svg", alt="virgin")
					.slider-holder__info
						.slider-holder__info-item
							.slider-holder__info-subtitle Destination
							.slider-holder__info-title Queensland#[br]Australia
						.slider-holder__info-item
							.slider-holder__info-subtitle Distance
							.slider-holder__info-title 7,065 Miles
						.slider-holder__info-item
							.slider-holder__info-subtitle Travel Time
							.slider-holder__info-title 23 Hours#[br]5 Minutes
						.slider-holder__info-item
							.slider-holder__info-subtitle Pricing
							.slider-holder__info-title $1,976 USD
								span Round Trip
					.slider-holder__btn
						a.btn(href="#") Book #[span Flight]
				.slider-holder__item
					.slider-holder__head(style='background: url("img/travel_slider/01.png") no-repeat top left;')
						.section__subtitle.section__subtitle_right
							.subtitle Shore
							h3.subtitle__text Airlie Beach #[span |] Australia
					.slider-holder__descr(style='background: url("img/airplane.png") no-repeat right;')
						.descr
							.subtitle.subtitle_left Airline
							h4.subtitle__text Virgin Australia
								img(src="img/logo_virgin.svg", alt="virgin")
					.slider-holder__info
						.slider-holder__info-item
							.slider-holder__info-subtitle Destination
							.slider-holder__info-title Queensland#[br]Australia
						.slider-holder__info-item
							.slider-holder__info-subtitle Distance
							.slider-holder__info-title 7,065 Miles
						.slider-holder__info-item
							.slider-holder__info-subtitle Travel Time
							.slider-holder__info-title 23 Hours#[br]5 Minutes
						.slider-holder__info-item
							.slider-holder__info-subtitle Pricing
							.slider-holder__info-title $1,976 USD
								span Round Trip
					.slider-holder__btn
						a.btn(href="#") Book #[span Flight]
				.slider-holder__item
					.slider-holder__head(style='background: url("img/travel_slider/01.png") no-repeat top left;')
						.section__subtitle.section__subtitle_right
							.subtitle Shore
							h3.subtitle__text Airlie Beach #[span |] Australia
					.slider-holder__descr(style='background: url("img/airplane.png") no-repeat right;')
						.descr
							.subtitle.subtitle_left Airline
							h4.subtitle__text Virgin Australia
								img(src="img/logo_virgin.svg", alt="virgin")
					.slider-holder__info
						.slider-holder__info-item
							.slider-holder__info-subtitle Destination
							.slider-holder__info-title Queensland#[br]Australia
						.slider-holder__info-item
							.slider-holder__info-subtitle Distance
							.slider-holder__info-title 7,065 Miles
						.slider-holder__info-item
							.slider-holder__info-subtitle Travel Time
							.slider-holder__info-title 23 Hours#[br]5 Minutes
						.slider-holder__info-item
							.slider-holder__info-subtitle Pricing
							.slider-holder__info-title $1,976 USD
								span Round Trip
					.slider-holder__btn
						a.btn(href="#") Book #[span Flight]
				.slider-holder__item
					.slider-holder__head(style='background: url("img/travel_slider/01.png") no-repeat top left;')
						.section__subtitle.section__subtitle_right
							.subtitle Shore
							h3.subtitle__text Airlie Beach #[span |] Australia
					.slider-holder__descr(style='background: url("img/airplane.png") no-repeat right;')
						.descr
							.subtitle.subtitle_left Airline
							h4.subtitle__text Virgin Australia
								img(src="img/logo_virgin.svg", alt="virgin")
					.slider-holder__info
						.slider-holder__info-item
							.slider-holder__info-subtitle Destination
							.slider-holder__info-title Queensland#[br]Australia
						.slider-holder__info-item
							.slider-holder__info-subtitle Distance
							.slider-holder__info-title 7,065 Miles
						.slider-holder__info-item
							.slider-holder__info-subtitle Travel Time
							.slider-holder__info-title 23 Hours#[br]5 Minutes
						.slider-holder__info-item
							.slider-holder__info-subtitle Pricing
							.slider-holder__info-title $1,976 USD
								span Round Trip
					.slider-holder__btn
						a.btn(href="#") Book #[span Flight]
				.slider-holder__item
					.slider-holder__head(style='background: url("img/travel_slider/01.png") no-repeat top left;')
						.section__subtitle.section__subtitle_right
							.subtitle Shore
							h3.subtitle__text Airlie Beach #[span |] Australia
					.slider-holder__descr(style='background: url("img/airplane.png") no-repeat right;')
						.descr
							.subtitle.subtitle_left Airline
							h4.subtitle__text Virgin Australia
								img(src="img/logo_virgin.svg", alt="virgin")
					.slider-holder__info
						.slider-holder__info-item
							.slider-holder__info-subtitle Destination
							.slider-holder__info-title Queensland#[br]Australia
						.slider-holder__info-item
							.slider-holder__info-subtitle Distance
							.slider-holder__info-title 7,065 Miles
						.slider-holder__info-item
							.slider-holder__info-subtitle Travel Time
							.slider-holder__info-title 23 Hours#[br]5 Minutes
						.slider-holder__info-item
							.slider-holder__info-subtitle Pricing
							.slider-holder__info-title $1,976 USD
								span Round Trip
					.slider-holder__btn
						a.btn(href="#") Book #[span Flight]
				.slider-holder__item
					.slider-holder__head(style='background: url("img/travel_slider/01.png") no-repeat top left;')
						.section__subtitle.section__subtitle_right
							.subtitle Shore
							h3.subtitle__text Airlie Beach #[span |] Australia
					.slider-holder__descr(style='background: url("img/airplane.png") no-repeat right;')
						.descr
							.subtitle.subtitle_left Airline
							h4.subtitle__text Virgin Australia
								img(src="img/logo_virgin.svg", alt="virgin")
					.slider-holder__info
						.slider-holder__info-item
							.slider-holder__info-subtitle Destination
							.slider-holder__info-title Queensland#[br]Australia
						.slider-holder__info-item
							.slider-holder__info-subtitle Distance
							.slider-holder__info-title 7,065 Miles
						.slider-holder__info-item
							.slider-holder__info-subtitle Travel Time
							.slider-holder__info-title 23 Hours#[br]5 Minutes
						.slider-holder__info-item
							.slider-holder__info-subtitle Pricing
							.slider-holder__info-title $1,976 USD
								span Round Trip
					.slider-holder__btn
						a.btn(href="#") Book #[span Flight]
	section.section.holder.sleep
		.container
			.section__headline
				h2.title Sleep
				span.section__headline-overlay Sleep
			.slider-holder
				.slider-holder__item
					.slider-holder__head(style='background: url("img/travel_slider/01.png") no-repeat top left;')
						.section__subtitle.section__subtitle_right
							.subtitle Shore
							h3.subtitle__text Airlie Beach #[span |] Australia
					.slider-holder__descr(style='background: url("img/airplane.png") no-repeat right;')
						.descr
							.subtitle.subtitle_left Airline
							h4.subtitle__text Virgin Australia
								img(src="img/logo_virgin.svg", alt="virgin")
					.slider-holder__info
						.slider-holder__info-item
							.slider-holder__info-subtitle Destination
							.slider-holder__info-title Queensland#[br]Australia
						.slider-holder__info-item
							.slider-holder__info-subtitle Distance
							.slider-holder__info-title 7,065 Miles
						.slider-holder__info-item
							.slider-holder__info-subtitle Travel Time
							.slider-holder__info-title 23 Hours#[br]5 Minutes
						.slider-holder__info-item
							.slider-holder__info-subtitle Pricing
							.slider-holder__info-title $1,976 USD
								span Round Trip
					.slider-holder__btn
						a.btn(href="#") Book #[span Flight]
				.slider-holder__item
					.slider-holder__head(style='background: url("img/travel_slider/01.png") no-repeat top left;')
						.section__subtitle.section__subtitle_right
							.subtitle Shore
							h3.subtitle__text Airlie Beach #[span |] Australia
					.slider-holder__descr(style='background: url("img/airplane.png") no-repeat right;')
						.descr
							.subtitle.subtitle_left Airline
							h4.subtitle__text Virgin Australia
								img(src="img/logo_virgin.svg", alt="virgin")
					.slider-holder__info
						.slider-holder__info-item
							.slider-holder__info-subtitle Destination
							.slider-holder__info-title Queensland#[br]Australia
						.slider-holder__info-item
							.slider-holder__info-subtitle Distance
							.slider-holder__info-title 7,065 Miles
						.slider-holder__info-item
							.slider-holder__info-subtitle Travel Time
							.slider-holder__info-title 23 Hours#[br]5 Minutes
						.slider-holder__info-item
							.slider-holder__info-subtitle Pricing
							.slider-holder__info-title $1,976 USD
								span Round Trip
					.slider-holder__btn
						a.btn(href="#") Book #[span Flight]
				.slider-holder__item
					.slider-holder__head(style='background: url("img/travel_slider/01.png") no-repeat top left;')
						.section__subtitle.section__subtitle_right
							.subtitle Shore
							h3.subtitle__text Airlie Beach #[span |] Australia
					.slider-holder__descr(style='background: url("img/airplane.png") no-repeat right;')
						.descr
							.subtitle.subtitle_left Airline
							h4.subtitle__text Virgin Australia
								img(src="img/logo_virgin.svg", alt="virgin")
					.slider-holder__info
						.slider-holder__info-item
							.slider-holder__info-subtitle Destination
							.slider-holder__info-title Queensland#[br]Australia
						.slider-holder__info-item
							.slider-holder__info-subtitle Distance
							.slider-holder__info-title 7,065 Miles
						.slider-holder__info-item
							.slider-holder__info-subtitle Travel Time
							.slider-holder__info-title 23 Hours#[br]5 Minutes
						.slider-holder__info-item
							.slider-holder__info-subtitle Pricing
							.slider-holder__info-title $1,976 USD
								span Round Trip
					.slider-holder__btn
						a.btn(href="#") Book #[span Flight]
				.slider-holder__item
					.slider-holder__head(style='background: url("img/travel_slider/01.png") no-repeat top left;')
						.section__subtitle.section__subtitle_right
							.subtitle Shore
							h3.subtitle__text Airlie Beach #[span |] Australia
					.slider-holder__descr(style='background: url("img/airplane.png") no-repeat right;')
						.descr
							.subtitle.subtitle_left Airline
							h4.subtitle__text Virgin Australia
								img(src="img/logo_virgin.svg", alt="virgin")
					.slider-holder__info
						.slider-holder__info-item
							.slider-holder__info-subtitle Destination
							.slider-holder__info-title Queensland#[br]Australia
						.slider-holder__info-item
							.slider-holder__info-subtitle Distance
							.slider-holder__info-title 7,065 Miles
						.slider-holder__info-item
							.slider-holder__info-subtitle Travel Time
							.slider-holder__info-title 23 Hours#[br]5 Minutes
						.slider-holder__info-item
							.slider-holder__info-subtitle Pricing
							.slider-holder__info-title $1,976 USD
								span Round Trip
					.slider-holder__btn
						a.btn(href="#") Book #[span Flight]
				.slider-holder__item
					.slider-holder__head(style='background: url("img/travel_slider/01.png") no-repeat top left;')
						.section__subtitle.section__subtitle_right
							.subtitle Shore
							h3.subtitle__text Airlie Beach #[span |] Australia
					.slider-holder__descr(style='background: url("img/airplane.png") no-repeat right;')
						.descr
							.subtitle.subtitle_left Airline
							h4.subtitle__text Virgin Australia
								img(src="img/logo_virgin.svg", alt="virgin")
					.slider-holder__info
						.slider-holder__info-item
							.slider-holder__info-subtitle Destination
							.slider-holder__info-title Queensland#[br]Australia
						.slider-holder__info-item
							.slider-holder__info-subtitle Distance
							.slider-holder__info-title 7,065 Miles
						.slider-holder__info-item
							.slider-holder__info-subtitle Travel Time
							.slider-holder__info-title 23 Hours#[br]5 Minutes
						.slider-holder__info-item
							.slider-holder__info-subtitle Pricing
							.slider-holder__info-title $1,976 USD
								span Round Trip
					.slider-holder__btn
						a.btn(href="#") Book #[span Flight]
				.slider-holder__item
					.slider-holder__head(style='background: url("img/travel_slider/01.png") no-repeat top left;')
						.section__subtitle.section__subtitle_right
							.subtitle Shore
							h3.subtitle__text Airlie Beach #[span |] Australia
					.slider-holder__descr(style='background: url("img/airplane.png") no-repeat right;')
						.descr
							.subtitle.subtitle_left Airline
							h4.subtitle__text Virgin Australia
								img(src="img/logo_virgin.svg", alt="virgin")
					.slider-holder__info
						.slider-holder__info-item
							.slider-holder__info-subtitle Destination
							.slider-holder__info-title Queensland#[br]Australia
						.slider-holder__info-item
							.slider-holder__info-subtitle Distance
							.slider-holder__info-title 7,065 Miles
						.slider-holder__info-item
							.slider-holder__info-subtitle Travel Time
							.slider-holder__info-title 23 Hours#[br]5 Minutes
						.slider-holder__info-item
							.slider-holder__info-subtitle Pricing
							.slider-holder__info-title $1,976 USD
								span Round Trip
					.slider-holder__btn
						a.btn(href="#") Book #[span Flight]
				.slider-holder__item
					.slider-holder__head(style='background: url("img/travel_slider/01.png") no-repeat top left;')
						.section__subtitle.section__subtitle_right
							.subtitle Shore
							h3.subtitle__text Airlie Beach #[span |] Australia
					.slider-holder__descr(style='background: url("img/airplane.png") no-repeat right;')
						.descr
							.subtitle.subtitle_left Airline
							h4.subtitle__text Virgin Australia
								img(src="img/logo_virgin.svg", alt="virgin")
					.slider-holder__info
						.slider-holder__info-item
							.slider-holder__info-subtitle Destination
							.slider-holder__info-title Queensland#[br]Australia
						.slider-holder__info-item
							.slider-holder__info-subtitle Distance
							.slider-holder__info-title 7,065 Miles
						.slider-holder__info-item
							.slider-holder__info-subtitle Travel Time
							.slider-holder__info-title 23 Hours#[br]5 Minutes
						.slider-holder__info-item
							.slider-holder__info-subtitle Pricing
							.slider-holder__info-title $1,976 USD
								span Round Trip
					.slider-holder__btn
						a.btn(href="#") Book #[span Flight]
				.slider-holder__item
					.slider-holder__head(style='background: url("img/travel_slider/01.png") no-repeat top left;')
						.section__subtitle.section__subtitle_right
							.subtitle Shore
							h3.subtitle__text Airlie Beach #[span |] Australia
					.slider-holder__descr(style='background: url("img/airplane.png") no-repeat right;')
						.descr
							.subtitle.subtitle_left Airline
							h4.subtitle__text Virgin Australia
								img(src="img/logo_virgin.svg", alt="virgin")
					.slider-holder__info
						.slider-holder__info-item
							.slider-holder__info-subtitle Destination
							.slider-holder__info-title Queensland#[br]Australia
						.slider-holder__info-item
							.slider-holder__info-subtitle Distance
							.slider-holder__info-title 7,065 Miles
						.slider-holder__info-item
							.slider-holder__info-subtitle Travel Time
							.slider-holder__info-title 23 Hours#[br]5 Minutes
						.slider-holder__info-item
							.slider-holder__info-subtitle Pricing
							.slider-holder__info-title $1,976 USD
								span Round Trip
					.slider-holder__btn
						a.btn(href="#") Book #[span Flight]
	section.section.shop
		.container
			.section__headline
				h2.title Shop
				span.section__headline-overlay Shop