.dots-box {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 12.5rem;
	padding-top: .375rem;
	border-top: 4px solid $white;
	transition: border-color $slow;

	&__number {
		font-size: 1.5rem;
		font-weight: 800;
	}

	&__name {
		font-size: 1rem;
		font-weight: 300;
		text-transform: initial;
	}
}
