.header {
	position: relative;
	height: 100vh;

	&__slider {
		height: 100%;
	}

	&__title {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 9;
		max-width: 29.1875rem;
		margin: 0;
		font-size: 12.5rem;
		font-weight: 800;
		line-height: 9.75rem;
		opacity: .07;
	}

	&__date {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&__date-day {
		font-size: 4.5rem;
		font-weight: 800;
	}

	&__date-my {
		font-size: 1rem;
		font-weight: 300;
		letter-spacing: 1.4px;
	}

	&__location {
		display: flex;
		justify-content: center;
	}

	&__location-link {
		display: flex;
		align-items: center;
		font-size: .75rem;
		font-weight: 300;
		text-transform: initial;
		letter-spacing: 1.05px;

		&::before {
			width: 11px;
			height: 14px;
			margin-right: .5rem;
			content: '';
			background: url(../img/map-marker.svg) no-repeat center;
		}
	}

	&__map {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 9;
	}
}
