.slider-item {
	position: relative;
	height: 100vh;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;

	&__content {
		position: absolute;
		right: 5rem;
		bottom: 7.1875rem;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}

	&__content-title {
		margin: .625rem 0 1.875rem 0;
		font-size: 5rem;
		font-weight: 800;
	}

	&__content-subtitle {
		display: flex;
		align-items: center;
		font-size: 1.375rem;
		letter-spacing: 7.33px;
		opacity: .5;

		&::before {
			width: 5rem;
			height: 1px;
			margin-right: 1.25rem;
			content: '';
			background-color: $white;
			opacity: .5;
		}
	}

	&__content-text {
		margin: .9375rem 0 1.5625rem 0;
		font-size: 2.5rem;
		font-weight: 800;
	}
}
