.slider-map {
	max-width: 75rem;
	min-height: 39.6875rem;
	margin: 0 auto;
	background: url('../img/world-map.png') no-repeat center center;
	background-size: cover;

	.slick-list {
		min-height: 39.6875rem;
	}

	.slick-current {
		.slider-dots__content {
			display: block;
			width: 17.8125rem;
			padding: 1.875rem;
		}
	}
}
