.surf-slider {
	padding-top: 6.875rem;

	.slider-arrows {
		top: 3.125rem;
		opacity: .25;
	}

	.slick-slide:nth-child(4n + 1) {
		.surf-box {
			margin-top: 2rem;
		}
	}

	.slick-slide:nth-child(4n + 3) {
		.surf-box {
			margin-top: 5.625rem;
		}
	}

	.slick-current {
		.surf-box__inner-btn {
			display: block;
		}

		.surf-box__inner {
			background-color: rgba(#1c2121, .3);
		}
	}
}
