.surf-box {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	&__inner-btn {
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		display: none;
		text-align: center;
	}

	&__inner {
		position: relative;
		min-height: 46.875rem;
		background-color: rgba(#1c2121, .85);
		transition: background-color $slow;

		&:hover {
			background-color: rgba(#1c2121, .3);

			.surf-box__inner-btn {
				display: block;
			}
		}
	}

	&__inner-title {
		max-width: 8.75rem;
		padding: 4.5rem 0 0 2.5rem;
		font-size: 2.5rem;
		font-weight: 800;
		line-height: 2.25rem;
	}

	&__inner-location {
		position: absolute;
		bottom: 5rem;
		left: 2.5rem;
		width: 0;
		height: 0;
		font-size: 1.125rem;
		letter-spacing: .5rem;
		white-space: nowrap;
		transform: rotate(-90deg);

		span {
			font-weight: 100;
		}
	}
}
