header
	.header
		h1.header__title Go Surf
		.header__slider
			.slider-item(style="background-image: url(img/header_slider/01.jpg);")
				.slider-item__content
					.subtitle Surf
					.slider-item__content-title North Shore
					.subtitle Condition
					.slider-item__content-text Radical
					a.slider-item__content-link(href="#"): +icon('arrow-right', 'arrow')
			.slider-item(style="background-image: url(img/header_slider/02.jpg);")
				.slider-item__content
					.subtitle Surf
					.slider-item__content-title South Shore
					.subtitle Condition
					.slider-item__content-text Radical
					a.slider-item__content-link(href="#"): +icon('arrow-right', 'arrow')
			.slider-item(style="background-image: url(img/header_slider/03.jpg);")
				.slider-item__content
					.subtitle Surf
					.slider-item__content-title West Shore
					.subtitle Condition
					.slider-item__content-text Radical
					a.slider-item__content-link(href="#"): +icon('arrow-right', 'arrow')
			.slider-item(style="background-image: url(img/header_slider/04.jpg);")
				.slider-item__content
					.subtitle Surf
					.slider-item__content-title East Shore
					.subtitle Condition
					.slider-item__content-text Radical
					a.slider-item__content-link(href="#"): +icon('arrow-right', 'arrow')
		.slider-dots
			.slider-dots__item
				.dots-box
					.dots-box__number 01
					.dots-box__name North Shore
			.slider-dots__item
				.dots-box
					.dots-box__number 02
					.dots-box__name South Shore
			.slider-dots__item
				.dots-box
					.dots-box__number 03
					.dots-box__name West Shore
			.slider-dots__item
				.dots-box
					.dots-box__number 04
					.dots-box__name East Shore
