header
	.header
		h1.header__title Go Surf
		.header__slider
			.slider-item(style="background-image: url(img/header_slider/01.jpg);")
				.slider-item__content
					.subtitle Surf
					.slider-item__content-title North Shore
					.subtitle Condition
					.slider-item__content-text Radical
					a.slider-item__content-link(href="#"): +icon('arrow-right', 'arrow')
			.slider-item(style="background-image: url(img/header_slider/02.jpg);")
				.slider-item__content
					.subtitle Surf
					.slider-item__content-title South Shore
					.subtitle Condition
					.slider-item__content-text Radical
					a.slider-item__content-link(href="#"): +icon('arrow-right', 'arrow')
			.slider-item(style="background-image: url(img/header_slider/03.jpg);")
				.slider-item__content
					.subtitle Surf
					.slider-item__content-title West Shore
					.subtitle Condition
					.slider-item__content-text Radical
					a.slider-item__content-link(href="#"): +icon('arrow-right', 'arrow')
			.slider-item(style="background-image: url(img/header_slider/04.jpg);")
				.slider-item__content
					.subtitle Surf
					.slider-item__content-title East Shore
					.subtitle Condition
					.slider-item__content-text Radical
					a.slider-item__content-link(href="#"): +icon('arrow-right', 'arrow')
		.slider-dots
			.slider-dots__item
				.dots-box
					.dots-box__number 01
					.dots-box__name North Shore
			.slider-dots__item
				.dots-box
					.dots-box__number 02
					.dots-box__name South Shore
			.slider-dots__item
				.dots-box
					.dots-box__number 03
					.dots-box__name West Shore
			.slider-dots__item
				.dots-box
					.dots-box__number 04
					.dots-box__name East Shore
		aside
			.aside
				.logo: +icon('logo', 'logo__icon')
				nav.nav
					ul.nav__list
						li.nav__item
							a.nav__link(href="#") Surf
								+icon('surf', 'nav__icon nav__icon_surf')
						li.nav__item
							a.nav__link(href="#") Travel
								+icon('travel', 'nav__icon nav__icon_travel')
						li.nav__item
							a.nav__link(href="#") Sleep
								+icon('camp', 'nav__icon nav__icon_sleep')
						li.nav__item
							a.nav__link(href="#") Shop
								+icon('board', 'nav__icon nav__icon_shop')
				.search
					a.search__link(href="#"): +icon('search', 'search__icon')
				.header__date
					.header__date-day 20
					span.header__date-my 06 | 2020
				.header__location
					a.header__location-link(href="#") California
